/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@font-face {
  font-family: "Fette Haenel Fraktur";
  src: url("https://genemator.me/fonts/FetteHaenelFraktur.ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://genemator.me/fonts/JetBrains.woff2') format('woff2'),
          url('https://genemator.me/fonts/JetBrains.woff') format('woff'),
          url('https://genemator.me/fonts/JetBrains.ttf') format('truetype');
}

* {
  font-family: 'JetBrains Mono';
  font-weight: 300;
}

.home .hero img
  max-width 450px!important

.site-name {
  font-family "Fette Haenel Fraktur";
  font-weight: 300;
}